// Libraries
@import '_vars'

// Fonts
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900')
@import url('font-awesome.min.css')

/* Basic */
body, input, select, textarea
	color $color-fg
	font-family 'Source Sans Pro', sans-serif
	font-size 15pt
	font-weight 300 !important
	letter-spacing -0.025em
	line-height 1.75em

body
	background $color-bg
	overflow hidden
	&.loading
		*
			animation none !important

a
	transition border-color 0.2s ease-in-out
	border-bottom dotted 1px
	color inherit
	outline 0
	text-decoration none
	&:hover
		border-color transparent
