@import url(http://fonts.googleapis.com/css?family=Ubuntu);

html{
	width: 100%;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	background-attachment: fixed !important;
}
body{
	font-family: Ubuntu, Georgia, "Times New Roman", serif;
}
a.info{
    position:relative;
    text-decoration:none
}
a.info span{display:none;}
a.info:hover span{
    display:block;
    position:absolute;
    top:2em; left:0; width:15em;
	padding:1em;
    border:1px solid #333333;
    background-color:#ffffff; color:#000000;
	font-family: Ubuntu, Georgia, "Times New Roman", serif;
	font-size:12px;
	font-weight:normal;
	z-index:9999;
}
.bigger_input{
	background-color: #ffffff;
	border: 1px solid #666666;
	padding: 4px;
	margin: 2px 0;
	vertical-align: middle;
}
.bigger_input:focus{
	box-shadow: 0 0 4px #0080ff;
}
.bigger_input:disabled{
	background-color: #dddddd !important;
}
input[type=submit].bigger_input, input[type=button].bigger_input, button.bigger_input{
	color: #333333;
	font-size: 14px;
	border-radius: 14px;
	padding: 4px 7px;
	cursor: pointer;
	background: rgb(255,255,221); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,221,1) 0%, rgba(255,255,180,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,221,1)), color-stop(100%,rgba(255,255,180,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,221,1) 0%,rgba(255,255,180,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,221,1) 0%,rgba(255,255,180,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,221,1) 0%,rgba(255,255,180,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,221,1) 0%,rgba(255,255,180,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffdd', endColorstr='#ffffb4',GradientType=0 ); /* IE6-9 */
}
input[type=submit].bigger_input:hover, input[type=button].bigger_input:hover, button.bigger_input:hover{
	background: rgb(197,224,245); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(197,224,245,1) 0%, rgba(159,202,237,1) 50%, rgba(133,179,231,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(197,224,245,1)), color-stop(50%,rgba(159,202,237,1)), color-stop(100%,rgba(133,179,231,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(197,224,245,1) 0%,rgba(159,202,237,1) 50%,rgba(133,179,231,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(197,224,245,1) 0%,rgba(159,202,237,1) 50%,rgba(133,179,231,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(197,224,245,1) 0%,rgba(159,202,237,1) 50%,rgba(133,179,231,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(197,224,245,1) 0%,rgba(159,202,237,1) 50%,rgba(133,179,231,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5e0f5', endColorstr='#85b3e7',GradientType=0 ); /* IE6-9 */
	border: 1px solid #7088ff;
}
input[type=submit].bigger_input:active, input[type=button].bigger_input:active, button.bigger_input:active{
	background: rgb(173,211,241); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(173,211,241,1) 0%, rgba(121,181,231,1) 50%, rgba(83,147,221,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,211,241,1)), color-stop(50%,rgba(121,181,231,1)), color-stop(100%,rgba(83,147,221,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(173,211,241,1) 0%,rgba(121,181,231,1) 50%,rgba(83,147,221,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(173,211,241,1) 0%,rgba(121,181,231,1) 50%,rgba(83,147,221,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(173,211,241,1) 0%,rgba(121,181,231,1) 50%,rgba(83,147,221,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(173,211,241,1) 0%,rgba(121,181,231,1) 50%,rgba(83,147,221,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#add3f1', endColorstr='#5393dd',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 0 4px #0080ff, inset 0 0 4px #004080;
}
input[type=submit].bigger_input:focus, input[type=button].bigger_input:focus, button.bigger_input:focus{
	box-shadow: 0 0 4px #0080ff, inset 0 0 4px #004080;
}
input[type=submit].bigger_input:disabled, input[type=button].bigger_input:disabled, button.bigger_input:disabled{
	background: rgb(205,205,205); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(205,205,205,1) 0%, rgba(176,176,176,1) 50%, rgba(185,185,185,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,205,205,1)), color-stop(50%,rgba(176,176,176,1)), color-stop(100%,rgba(185,185,185,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(205,205,205,1) 0%,rgba(176,176,176,1) 50%,rgba(185,185,185,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(205,205,205,1) 0%,rgba(176,176,176,1) 50%,rgba(185,185,185,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(205,205,205,1) 0%,rgba(176,176,176,1) 50%,rgba(185,185,185,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(205,205,205,1) 0%,rgba(176,176,176,1) 50%,rgba(185,185,185,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdcdcd', endColorstr='#b9b9b9',GradientType=0 ); /* IE6-9 */
}
input[type=checkbox].bigger_input{
	display:none;
}
select.bigger_input.default{
	width: 318px;
}
input[type=text].bigger_input.default{
	width: 308px;
}
.clearer{
	clear: both;
}
.clearfix{
	*zoom: 1;
}
.clearfix:before,
.clearfix:after{
	display: table;
	line-height: 0;
	content: "";
}
.clearfix:after{
	clear: both;
}
.default_table{
	width: 100%;
	border-collapse: collapse;
}
.default_table.opaque thead tr{
	background: rgb(122,188,255); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: #000000;
}
.default_table.opaque tbody tr{
	background-color: #ffffff;
	color: #000000;
}
.default_table.opaque tbody tr:hover{
	background: rgb(122,188,255); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.default_table th, .default_table td{
	padding: 4px 6px;
	border: 1px solid #000000;
}
.default_table .sorter{
	color: #0030c0;
	cursor: pointer;
}
.note_body{
	display: inline-block;
	width: 400px;
	max-height: 250px;
	overflow-y: auto;
}
.table_nav{
	font-size:12px;
	font-family:'Lucida Grande', Verdana, Arial, sans-serif;
	color:#606060;
	text-align:center;
	padding:6px;
	line-height:28px;
	clear:both;
}
.table_nav a{
	font-size:12px;
	font-family:'Lucida Grande', Verdana, Arial, sans-serif;
	cursor:pointer;
	background-color:#ffffff;
	padding:4px;
	border:1px solid #7088ff;
}
.table_nav a:hover{
	background-color:#ffffbb;
	color:#ff0000 !important;
}
.table_nav a.selected{
	background-color:#ffffbb;
	color:#ff0000 !important;
}
.table_nav a.selected:hover{
	color:#ff0000 !important;
}
.table_nav a.disabled{
	background-color:#dddddd;
	color:#808080 !important;
}
.table_nav a.disabled:hover{
	background-color:#dddddd;
	color:#808080 !important;
}
.wrapper_1, .wrapper_2, .wrapper_3, .wrapper_4, .wrapper_5, .wrapper_6, .wrapper_7, .wrapper_8, .wrapper_9, .wrapper_10{
	float: left;
	padding-right: 5px;
}
.wrapper_1{
	width: 75px;
}
.wrapper_2{
	width: 155px;
}
.wrapper_3{
	width: 235px;
}
.wrapper_4{
	width: 315px;
}
.wrapper_5{
	width: 395px;
}
.wrapper_6{
	width: 475px;
}
.wrapper_7{
	width: 555px;
}
.wrapper_8{
	width: 635px;
}
.wrapper_9{
	width: 715px;
}
.wrapper_10{
	width: 795px;
}
.wrapper_1 label, .wrapper_2 label, .wrapper_3 label, .wrapper_4 label, .wrapper_5 label, .wrapper_6 label, .wrapper_7 label, .wrapper_8 label, .wrapper_9 label, .wrapper_10 label{
	font-size: 14px;
	color: #606080;
}
.wrapper_1 input, .wrapper_2 input, .wrapper_3 input, .wrapper_4 input, .wrapper_5 input, .wrapper_6 input, .wrapper_7 input, .wrapper_8 input, .wrapper_9 input, .wrapper_10 input{
	font-size: 16px;
	background-color: #ffffff;
	color: #000000;
	border: 1px solid #666666;
	padding: 4px;
	margin: 2px 0;
	vertical-align: middle;
}
.wrapper_1 textarea, .wrapper_2 textarea, .wrapper_3 textarea, .wrapper_4 textarea, .wrapper_5 textarea, .wrapper_6 textarea, .wrapper_7 textarea, .wrapper_8 textarea, .wrapper_9 textarea, .wrapper_10 textarea{
	font-size: 16px;
	background-color: #ffffff;
	color: #000000;
	border: 1px solid #666666;
	padding: 4px;
	margin: 2px 0;
	vertical-align: middle;
	line-height: 1.3;
}
.wrapper_1 input:focus, .wrapper_2 input:focus, .wrapper_3 input:focus, .wrapper_4 input:focus, .wrapper_5 input:focus, .wrapper_6 input:focus, .wrapper_7 input:focus, .wrapper_8 input:focus, .wrapper_9 input:focus, .wrapper_10 input:focus, .wrapper_1 textarea:focus, .wrapper_2 textarea:focus, .wrapper_3 textarea:focus, .wrapper_4 textarea:focus, .wrapper_5 textarea:focus, .wrapper_6 textarea:focus, .wrapper_7 textarea:focus, .wrapper_8 textarea:focus, .wrapper_9 textarea:focus, .wrapper_10 textarea:focus{
	box-shadow: 0 0 4px #0080ff;
}
.wrapper_1 input:disabled, .wrapper_2 input:disabled, .wrapper_3 input:disabled, .wrapper_4 input:disabled, .wrapper_5 input:disabled, .wrapper_6 input:disabled, .wrapper_7 input:disabled, .wrapper_8 input:disabled, .wrapper_9 input:disabled, .wrapper_10 input:disabled, .wrapper_1 textarea:disabled, .wrapper_2 textarea:disabled, .wrapper_3 textarea:disabled, .wrapper_4 textarea:disabled, .wrapper_5 textarea:disabled, .wrapper_6 textarea:disabled, .wrapper_7 textarea:disabled, .wrapper_8 textarea:disabled, .wrapper_9 textarea:disabled, .wrapper_10 textarea:disabled{
	background-color: #dddddd !important;
}
.wrapper_1 input, .wrapper_1 textarea{
	width: 65px;
}
.wrapper_2 input, .wrapper_2 textarea{
	width: 145px;
}
.wrapper_3 input, .wrapper_3 textarea{
	width: 225px;
}
.wrapper_4 input, .wrapper_4 textarea{
	width: 305px;
}
.wrapper_5 input, .wrapper_5 textarea{
	width: 385px;
}
.wrapper_6 input, .wrapper_6 textarea{
	width: 465px;
}
.wrapper_7 input, .wrapper_7 textarea{
	width: 545px;
}
.wrapper_8 input, .wrapper_8 textarea{
	width: 625px;
}
.wrapper_9 input, .wrapper_9 textarea{
	width: 705px;
}
.wrapper_10 input, .wrapper_10 textarea{
	width: 785px;
}
.wrapper_1 select, .wrapper_2 select, .wrapper_3 select, .wrapper_4 select, .wrapper_5 select, .wrapper_6 select, .wrapper_7 select, .wrapper_8 select, .wrapper_9 select, .wrapper_10 select{
	font-size: 16px;
	background-color: #ffffff;
	color: #000000;
	border: 1px solid #666666;
	padding: 3px 4px;
	margin: 2px 0;
	vertical-align: middle;
}
.wrapper_1 select:focus, .wrapper_2 select:focus, .wrapper_3 select:focus, .wrapper_4 select:focus, .wrapper_5 select:focus, .wrapper_6 select:focus, .wrapper_7 select:focus, .wrapper_8 select:focus, .wrapper_9 select:focus, .wrapper_10 select:focus{
	box-shadow: 0 0 4px #0080ff;
}
.wrapper_1 select:disabled, .wrapper_2 select:disabled, .wrapper_3 select:disabled, .wrapper_4 select:disabled, .wrapper_5 select:disabled, .wrapper_6 select:disabled, .wrapper_7 select:disabled, .wrapper_8 select:disabled, .wrapper_9 select:disabled, .wrapper_10 select:disabled{
	background-color: #dddddd !important;
}
.wrapper_1 select{
	width: 75px;
}
.wrapper_2 select{
	width: 155px;
}
.wrapper_3 select{
	width: 235px;
}
.wrapper_4 select{
	width: 315px;
}
.wrapper_5 select{
	width: 395px;
}
.wrapper_6 select{
	width: 475px;
}
.wrapper_7 select{
	width: 555px;
}
.wrapper_8 select{
	width: 635px;
}
.wrapper_9 select{
	width: 715px;
}
.wrapper_10 select{
	width: 795px;
}

#add_note_btn{
	vertical-align: middle;
	font-size: 1.3em;
	color: #ffffff;
	line-height: 2;
	border: solid 2px #000000;
	background-color: #ff6600;
	width: 150px;
	padding: 0 20px;
	margin-bottom: 10px;
	cursor: pointer;
}
#add_note_btn img{
	vertical-align: middle;
}
#simple_notes_body{
	position: relative;
	top: 0;
	left: 0;
	display: block;
	width: 96%;
	padding: 8px 2%;
}
#simple_notes_header{
	position: relative;
	top: 0;
	left: 0;
	display: block;
	width: 96%;
	height: 80px;
	padding: 8px 2%;
	background: rgb(122,188,255); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#simple_notes_header .title{
	font-size: 3em;
}
#simple_notes_header .message{
	font-size: 1em;
}
#simple_notes_page{
	width: 980px;
	margin: 0 auto;
	padding: 0;
	font-size: 100%;
	background: rgb(240,249,255); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}